.logo {
  width: 14rem;
  @media only screen and (max-width: $bp-medium) {
    width: 10rem;
  }
}

.btn__register {
  padding: 1rem 3.7rem;
  color: $bg-color-light;
  background-color: $heading-color;
  border-radius: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.39);
  transition: all 0.4s ease-out;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
  }
  &:hover {
    background-color: $hover-color;
    color: white;
  }
}

.home-main-social {
  height: 50px;
  margin-top: 10px;
  display: grid;
  justify-content: end;
  grid-column: 2/3;
  align-content: center;
  width: 100%;
  @media only screen and (max-width: $bp-large) {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
  }
}

.social-networks {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  fill: white;
  width: 100%;
  transition: all 0.4s ease;
  @media only screen and (max-width: $bp-large) {
    margin-top: 9rem;
  }

  &__fb {
    @include icon-style;
    margin-right: 2.5rem;
    &:hover {
      fill: $hover-color;
    }
  }
  &__twitter {
    @include icon-style;
    margin-right: 2.5rem;
    &:hover {
      fill: $hover-color;
    }
  }
  &__ig {
    @include icon-style;
    &:hover {
      fill: $hover-color;
    }
  }
}
