.logo {
  width: 11rem;
}

.btn__register {
  padding: 1rem 3.3rem;
  color: $bg-color;
  background-color: $heading-color;
  border-radius: 50px;
  font-size: 0.9rem;
  text-decoration: none;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.39);
}
